<template>
  <div>
    <MarketStats class="relative max-w-7xl mx-auto mb-5"></MarketStats>

    <MarketViews class="relative max-w-7xl mx-auto mb-5"></MarketViews>

    <Limit v-if="props.view === 'limit'"></Limit>
    <Advanced v-else-if="props.view === 'advanced'"></Advanced>
    <Swap v-else></Swap>
  </div>
</template>

<script setup lang="ts">
  const props = defineProps<{
    view: string
  }>()
</script>
