<template>
  <Bar class="order-book-chart-container" :options="chartOptions" :data="chartData" id="order-book-chart"></Bar>
</template>

<style lang="css" scoped>
  .order-book-chart-container {
    height: calc(100vh - 80px);
  }
</style>

<script setup lang="ts">
  import { Bar } from 'vue-chartjs'
  import { Chart as ChartJS, Title, Tooltip, Legend, BarElement, CategoryScale, LinearScale } from 'chart.js'
  import { useMarketStore } from '~/stores/market'
  import { nonRepeatingAsksReduced, nonRepeatingBidsReduced } from '~/common/helpers/hiveFunctions'

  ChartJS.register(Title, Tooltip, Legend, BarElement, CategoryScale, LinearScale)

  const marketStore = useMarketStore()

  const lastTradePrice = computed(() => {
    if (!marketStore?.market?.tradeHistory) return 0

    const lastTrade = marketStore.market.tradeHistory.at(-1)
    const hiveAmount = lastTrade.current_pays.includes('HIVE') ? lastTrade.current_pays.split(' ')[0] : lastTrade.open_pays.split(' ')[0]
    const hbdAmount = lastTrade.current_pays.includes('HBD') ? lastTrade.current_pays.split(' ')[0] : lastTrade.open_pays.split(' ')[0]
    const hbdPerHive = parseFloat(hbdAmount) / parseFloat(hiveAmount)
    return parseFloat(parseFloat(hbdPerHive).toFixed(5))
  })

  const chartOptions = {
    responsive: true,
    maintainAspectRatio: true,
    barPercentage: 1.8,
    categoryPercentage: 1
  }

  const chartData = computed(() => ({
    labels: nonRepeatingBidsReduced.value
      .reverse()
      .concat(nonRepeatingAsksReduced.value)
      .map(e => e[0]),
    datasets: [
      {
        label: 'Bids',
        data: nonRepeatingBidsReduced.value.map(e => ({ x: e[0], y: e[1] })),
        backgroundColor: ['#22ab94'],
        borderSkipped: true
      },
      {
        label: 'Asks',
        data: nonRepeatingAsksReduced.value.map(e => ({ x: e[0], y: e[1] })),
        backgroundColor: ['#f7525f'],
        borderSkipped: true
      }
    ]
  }))

  onMounted(() => {})
</script>
