<template>
  <div class="TVChartContainer" ref="chartContainer" />
</template>

<script lang="ts">
  import { widget } from '../../../public/charting_library'
  import datafeed from '../api/datafeed.js'
  import { useSettingsStore } from '~/stores/settings'
  import customCss from '~/assets/styles/tradingview_chart.css'

  const settingsStore = useSettingsStore()

  export default {
    name: 'TVChartContainer',
    props: {
      symbol: {
        default: 'HIVE/HBD',
        type: String
      },
      interval: {
        default: '60',
        type: String
      },
      datafeedUrl: {
        default: 'https://demo_feed.tradingview.com',
        type: String
      },
      libraryPath: {
        default: '/charting_library/',
        type: String
      },
      chartsStorageUrl: {
        default: 'https://saveload.tradingview.com',
        type: String
      },
      chartsStorageApiVersion: {
        default: '1.1',
        type: String
      },
      clientId: {
        default: 'tradingview.com',
        type: String
      },
      userId: {
        default: 'public_user_id',
        type: String
      },
      fullscreen: {
        default: false,
        type: Boolean
      },
      autosize: {
        default: true,
        type: Boolean
      },
      studiesOverrides: {
        type: Object
      }
    },
    tvWidget: null,
    mounted() {
      const container = this.$refs.chartContainer
      this.tvWidget = new widget({
        symbol: this.symbol,
        // BEWARE: no trailing slash is expected in feed URL
        datafeed: datafeed, //new window.Datafeeds.UDFCompatibleDatafeed(this.datafeedUrl),
        interval: this.interval,
        container: container,
        library_path: this.libraryPath,
        locale: 'en',
        disabled_features: ['header_symbol_search'],
        enabled_features: ['study_templates'],
        charts_storage_url: this.chartsStorageUrl,
        charts_storage_api_version: this.chartsStorageApiVersion,
        client_id: this.clientId,
        user_id: this.userId,
        fullscreen: this.fullscreen,
        autosize: this.autosize,
        studies_overrides: this.studiesOverrides,
        /*
        logo: {
          image: '/src/assets/images/hivehub_light.svg',
          link: 'https://hivehub.dev/market'
        },
        */
        ...(settingsStore.settings?.darkMode
          ? {
              theme: 'Dark',
              toolbar_bg: '#1e293b',
              custom_css_url: customCss,
              loading_screen: {
                backgroundColor: '#1e293b',
                foregroundColor: '#10b981'
              },
              overrides: {
                'paneProperties.background': '#1e293b',
                'paneProperties.backgroundType': 'solid'
              }
            }
          : { theme: 'Light' })
      })

      this.tvWidget.onChartReady(() => {
        this.tvWidget.headerReady().then(() => {
          const button = this.tvWidget.createButton()
          button.setAttribute('title', 'Click to show a notification popup')
          button.classList.add('apply-common-tooltip')
          button.addEventListener('click', () =>
            this.tvWidget.showNoticeDialog({
              title: 'Notification',
              body: 'TradingView Charting Library API works correctly',
              callback: () => {
                // eslint-disable-next-line no-console
                console.log('Noticed!')
              }
            })
          )
          button.innerHTML = 'Check API'
        })
      })
    },
    destroyed() {
      if (this.tvWidget !== null) {
        this.tvWidget.remove()
        this.tvWidget = null
      }
    }
  }
</script>

<style lang="css" scoped>
  .TVChartContainer {
    height: calc(100vh - 80px);
  }
</style>
