<template>
  <div class="flex grow flex-col rounded-md shadow ring-1 ring-black ring-opacity-5">
    <div class="overflow-x-auto">
      <div class="inline-block min-w-full align-middle">
        <div class="overflow-hidden rounded-lg">
          <table class="min-w-full divide-y divide-gray-300 dark:divide-slate-500">
            <thead class="bg-gray-50 dark:bg-slate-800">
              <tr>
                <th scope="col" class="dark:text-gray-100 py-3.5 pl-4 pr-3 text-center text-sm font-semibold text-gray-900">Time</th>
                <th scope="col" class="dark:text-gray-100 py-3.5 pl-4 pr-3 text-center text-sm font-semibold text-gray-900">Type</th>
                <th scope="col" class="dark:text-gray-100 py-3.5 pl-4 pr-3 text-right text-sm font-semibold text-gray-900">Price</th>
                <th scope="col" class="dark:text-gray-100 py-3.5 pl-4 pr-3 text-right text-sm font-semibold text-gray-900">HIVE</th>
                <th scope="col" class="dark:text-gray-100 py-3.5 pl-4 pr-3 text-right text-sm font-semibold text-gray-900">HBD</th>
                <th scope="col" class="dark:text-gray-100 py-3.5 pl-4 pr-3 text-right text-sm font-semibold text-gray-900">Filled</th>
                <th scope="col" class="dark:text-gray-100 py-3.5 pl-4 pr-3 text-center text-sm font-semibold text-gray-900">Actions</th>
              </tr>
            </thead>
            <tbody class="divide-y divide-gray-300 dark:divide-slate-500 bg-white dark:bg-slate-700">
              <tr v-if="!accountStore.account.name">
                <td colspan="8" class="dark:text-gray-100 whitespace-nowrap py-3.5 pl-4 pr-3 text-center text-sm text-gray-500">
                  Login to manage your open orders
                </td>
              </tr>
              <tr v-else-if="!(accountStore.account.open_orders.length > 0)">
                <td colspan="8" class="dark:text-gray-100 whitespace-nowrap py-3.5 pl-4 pr-3 text-center text-sm text-gray-500">
                  You don't have any open order
                </td>
              </tr>
              <tr v-for="order in accountStore.account.open_orders" :key="order.created">
                <td class="dark:text-gray-100 whitespace-nowrap py-3.5 pl-4 pr-3 text-center text-xs text-gray-500">
                  {{ timeSince(new Date(order.created), new Date()) }}
                </td>
                <td
                  :class="order.sell_price.base.includes('HBD') ? 'text-emerald-500' : 'text-red-500'"
                  class="whitespace-nowrap py-3.5 pl-4 pr-3 text-center text-xs font-medium"
                >
                  {{ order.sell_price.base.includes('HBD') ? 'Buy' : 'Sell' }}
                </td>
                <td class="dark:text-gray-100 whitespace-nowrap py-3.5 pl-4 pr-3 text-right text-xs text-gray-500 font-medium">
                  {{ parseFloat(order.real_price).toFixed(3) }}
                </td>
                <td class="dark:text-gray-100 whitespace-nowrap py-3.5 pl-4 pr-3 text-right text-xs text-gray-500 font-medium">
                  {{ order.sell_price.base.includes('HIVE') ? order.sell_price.base : order.sell_price.quote }}
                </td>
                <td class="dark:text-gray-100 whitespace-nowrap py-3.5 pl-4 pr-3 text-right text-xs text-gray-500 font-medium">
                  {{ order.sell_price.base.includes('HBD') ? order.sell_price.base : order.sell_price.quote }}
                </td>
                <td class="dark:text-gray-100 whitespace-nowrap py-3.5 pl-4 pr-3 text-right text-xs text-gray-500 font-medium">
                  {{ ((1 - order.for_sale / 1000 / parseFloat(order.sell_price.base.split(' ')[0])) * 100).toFixed(2) }}%
                </td>
                <td class="dark:text-gray-100 whitespace-nowrap py-3.5 pl-4 pr-3 text-center text-xs text-gray-500 font-medium">
                  <a @click="toggleEditModal(true, order.orderid)" class="whitespace-nowrap px-2 text-xs text-emerald-500 font-medium cursor-pointer"> Edit </a>
                  <a @click="cancelOrder(order.orderid)" class="whitespace-nowrap py-3.5 pl-4 pr-3 text-center text-xs text-red-500 font-medium cursor-pointer">
                    Delete
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <TransitionRoot
      :editOrder="editOrder"
      :openOrder="editOrderOpen"
      :as="ChangeOrderPriceModal"
      :show="editModalOpen"
      @close="toggleEditModal(false, false)"
    ></TransitionRoot>
  </div>
</template>

<script setup lang="ts">
  import { timeSince } from '~/common/helpers/formatter'
  import { useAccountStore } from '~/stores/account'
  import ChangeOrderPriceModal from '~/common/components/modals/ChangeOrderPriceModal.vue'

  const accountStore = useAccountStore()
  let editModalOpen = ref(false)
  let editOrderOpen = ref({})

  const toggleEditModal = (open = false, orderId) => {
    editModalOpen.value = open
    if (orderId) {
      const openOrder = accountStore.account.open_orders.find(obj => obj.orderid === orderId)
      editOrderOpen.value = openOrder
      console.log(editOrderOpen.value)
    }
  }
  const cancelOrder = async orderId => {
    const opCancel = [
      'limit_order_cancel',
      {
        orderid: orderId,
        owner: accountStore.account.name
      }
    ]

    await window.hive_keychain.requestBroadcast(accountStore.account.name, [opCancel], 'Active', async response => {
      console.log(response)
      accountStore.updateOpenOrders()
      await accountStore.updateBalances()
    })
  }

  const editOrder = async openOrder => {
    const opCancel = [
      'limit_order_cancel',
      {
        orderid: orderId,
        owner: accountStore.account.name
      }
    ]
    let expiration: any = new Date(Date.now())
    expiration.setDate(expiration.getDate() + 27)
    expiration = expiration.toISOString().split('.')[0]
    const opCreate = [
      'limit_order_create',
      {
        orderid: openOrder.orderid,
        owner: openOrder.seller,
        amount_to_sell: openOrder.sell_price.base,
        min_to_receive: (parseFloat(openOrder.sell_price.quote.split(' ')[0]) + 1).toFixed(3) + ' ' + openOrder.sell_price.quote.split(' ')[1],
        fill_or_kill: false,
        expiration: expiration
      }
    ]
    console.log('opCreate')
    console.log(opCreate)

    // await window.hive_keychain.requestBroadcast(accountStore.account.name, [opCancel, opCreate], 'Active', async response => {
    //   console.log(response)
    //   accountStore.updateOpenOrders()
    //   await accountStore.updateBalances()
    // })
  }

  onMounted(async () => {
    await accountStore.updateOpenOrders()
  })
</script>
