<template>
  <Dialog as="div" class="relative z-10" @close="emit('close')">
    <TransitionChild
      as="template"
      enter="ease-out duration-300"
      enter-from="opacity-0"
      enter-to="opacity-100"
      leave="ease-in duration-200"
      leave-from="opacity-100"
      leave-to="opacity-0"
    >
      <div class="fixed inset-0 bg-gray-500 dark:bg-slate-900 bg-opacity-75 transition-opacity" />
    </TransitionChild>

    <div class="fixed z-10 inset-0 overflow-y-auto">
      <div class="flex items-end sm:items-center justify-center min-h-full p-4 text-center sm:p-0">
        <TransitionChild
          as="template"
          enter="ease-out duration-300"
          enter-from="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
          enter-to="opacity-100 translate-y-0 sm:scale-100"
          leave="ease-in duration-200"
          leave-from="opacity-100 translate-y-0 sm:scale-100"
          leave-to="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
        >
          <DialogPanel
            class="relative bg-white dark:bg-slate-800 rounded-lg px-4 pt-5 pb-4 text-left overflow-visible shadow-xl transform transition-all min-w-min sm:my-8 sm:max-w-lg lg:max-w-2xl sm:w-full sm:p-6"
          >
            <div class="text-left border-b border-gray-200 dark:border-slate-600">
              <DialogTitle as="h3" class="text-2xl leading-6 font-medium text-gray-900 dark:text-gray-100 mb-3"> {{ $t('settings.settings') }} </DialogTitle>
            </div>

            <div class="text-left mt-4 flex gap-4 items-center">
              <div>
                <h3 class="text-md font-medium text-gray-900 dark:text-gray-100">{{ $t('settings.hive-node') }}</h3>
                <p class="text-sm text-gray-500 dark:text-gray-300">{{ $t('settings.hive-node-text') }}</p>
              </div>
              <div class="mt-4">
                <OptionsDropdown :current="node" :elements="nodes" @change="setApiNode"></OptionsDropdown>
                <p class="mt-1 text-center text-xs text-gray-500 dark:text-gray-300">
                  {{ $t('settings.hive-node-small') }}
                  <a href="https://beacon.peakd.com" target="_blank" class="text-emerald-600 dark:text-emerald-400">beacon.peakd.com</a>
                </p>
              </div>
            </div>

            <div class="text-left mt-8 flex gap-4 items-center">
              <div class="grow">
                <h3 class="text-md font-medium text-gray-900 dark:text-gray-100">{{ $t('settings.he-node') }}</h3>
                <p class="text-sm text-gray-500 dark:text-gray-300">{{ $t('settings.he-text') }}</p>
              </div>
              <OptionsDropdown :current="heNode" :elements="heNodes" @change="setHiveEngineApiNode"></OptionsDropdown>
            </div>

            <div class="text-left mt-8 flex gap-4 items-center">
              <div class="grow">
                <h3 class="text-md font-medium text-gray-900 dark:text-gray-100">{{ $t('settings.language') }}</h3>
                <p class="text-sm text-gray-500 dark:text-gray-300">{{ $t('settings.language-text') }}</p>
              </div>
              <OptionsDropdown :current="language" :elements="languages" @change="setLanguage"></OptionsDropdown>
            </div>

            <div class="text-left mt-8 flex items-center">
              <div class="grow">
                <h3 class="text-md font-medium text-gray-900 dark:text-gray-100">{{ $t('settings.theme') }}</h3>
                <p class="text-sm text-gray-500 dark:text-gray-300">{{ $t('settings.theme-text') }}</p>
              </div>
              <Switch
                v-model="darkMode"
                :class="[
                  darkMode ? 'bg-emerald-600 dark:bg-emerald-400' : 'bg-gray-200 dark:bg-slate-600/50',
                  'relative inline-flex flex-shrink-0 h-6 w-11 border-2 border-transparent rounded-full cursor-pointer transition-colors ease-in-out duration-200'
                ]"
              >
                <span class="sr-only">{{ $t('settings.dark-mode') }}</span>
                <span
                  :class="[
                    darkMode ? 'translate-x-5' : 'translate-x-0',
                    'pointer-events-none relative inline-block h-5 w-5 rounded-full bg-white dark:bg-slate-800 shadow transform ring-0 transition ease-in-out duration-200'
                  ]"
                >
                  <span
                    class="absolute inset-0 h-full w-full flex items-center justify-center transition-opacity"
                    :class="darkMode ? 'opacity-0 ease-out duration-100' : 'opacity-100 ease-in duration-200'"
                    aria-hidden="true"
                  >
                    <SunIcon class="h-4 w-4 dark:text-gray-300"></SunIcon>
                  </span>
                  <span
                    class="absolute inset-0 h-full w-full flex items-center justify-center transition-opacity"
                    :class="darkMode ? 'opacity-100 ease-in duration-200' : 'opacity-0 ease-out duration-100'"
                    aria-hidden="true"
                  >
                    <MoonIcon class="h-4 w-4 dark:text-gray-300"></MoonIcon>
                  </span>
                </span>
              </Switch>
            </div>

            <div class="text-left mt-8 flex items-center">
              <div class="grow">
                <h3 class="text-md font-medium text-gray-900 dark:text-gray-100">{{ $t('settings.transactions') }}</h3>
                <p class="text-sm text-gray-500 dark:text-gray-300">
                  {{ $t('settings.transactions-text') }}:
                  <span class="text-emerald-600 dark:text-emerald-400 font-semibold capitalize">{{ transactionsRendering ? 'extended' : 'summary' }}</span>
                </p>
              </div>
              <SwitchGroup as="div" class="flex items-center justify-between gap-4">
                <Switch
                  v-model="transactionsRendering"
                  :class="[
                    transactionsRendering ? 'bg-emerald-600 dark:bg-emerald-400' : 'bg-gray-200 dark:bg-slate-600/50',
                    'relative inline-flex flex-shrink-0 h-6 w-11 border-2 border-transparent rounded-full cursor-pointer transition-colors ease-in-out duration-200'
                  ]"
                >
                  <span
                    aria-hidden="true"
                    :class="[
                      transactionsRendering ? 'translate-x-5' : 'translate-x-0',
                      'pointer-events-none relative inline-block h-5 w-5 rounded-full bg-white dark:bg-slate-800 shadow transform ring-0 transition ease-in-out duration-200'
                    ]"
                  />
                </Switch>
              </SwitchGroup>
            </div>

            <div class="text-left mt-8 flex items-center">
              <div class="grow">
                <h3 class="text-md font-medium text-gray-900 dark:text-gray-100">{{ $t('settings.json') }}</h3>
                <p class="text-sm text-gray-500 dark:text-gray-300">
                  {{ $t('settings.json-text') }}:
                  <span class="text-emerald-600 dark:text-emerald-400 font-semibold capitalize">{{ jsonRendering ? 'formatted' : 'compact' }}</span>
                </p>
              </div>
              <SwitchGroup as="div" class="flex items-center justify-between gap-4">
                <Switch
                  v-model="jsonRendering"
                  :class="[
                    jsonRendering ? 'bg-emerald-600 dark:bg-emerald-400' : 'bg-gray-200 dark:bg-slate-600/50',
                    'relative inline-flex flex-shrink-0 h-6 w-11 border-2 border-transparent rounded-full cursor-pointer transition-colors ease-in-out duration-200'
                  ]"
                >
                  <span
                    aria-hidden="true"
                    :class="[
                      jsonRendering ? 'translate-x-5' : 'translate-x-0',
                      'pointer-events-none relative inline-block h-5 w-5 rounded-full bg-white dark:bg-slate-800 shadow transform ring-0 transition ease-in-out duration-200'
                    ]"
                  />
                </Switch>
              </SwitchGroup>
            </div>

            <div class="mt-8 sm:flex sm:flex-row-reverse">
              <button
                type="button"
                class="w-full inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-emerald-600 dark:bg-emerald-400 text-base font-medium text-white dark:text-slate-800 hover:bg-emerald-700 dark:hover:bg-emerald-200 focus:outline-none focus:ring-2 focus:ring-emerald-500 dark:focus:ring-emerald-100 sm:ml-3 sm:w-auto sm:text-sm"
                @click="saveSettings()"
              >
                {{ $t('settings.save') }}
              </button>
              <button
                type="button"
                class="mt-3 w-full inline-flex justify-center rounded-md border border-gray-300 dark:border-slate-500 shadow-sm px-4 py-2 bg-white dark:bg-slate-800 text-base font-medium text-gray-700 dark:text-gray-200 hover:bg-gray-50 dark:hover:bg-slate-700 focus:outline-none focus:ring-2 focus:ring-emerald-500 dark:focus:ring-emerald-100 sm:mt-0 sm:w-auto sm:text-sm"
                @click="emit('close')"
                ref="cancelButtonRef"
              >
                {{ $t('settings.close') }}
              </button>
            </div>
          </DialogPanel>
        </TransitionChild>
      </div>
    </div>
  </Dialog>
</template>

<script setup lang="ts">
  import { SunIcon, MoonIcon } from '@heroicons/vue/outline'
  import { getApiNodes } from '~/common/api/hiveApi'
  import { useSettingsStore } from '~/stores/settings'

  const settingsStore = useSettingsStore()

  // Hive API nodes
  const getNodeColor = (score: number) => {
    if (score === 100) return 'bg-green-400'
    if (score >= 90) return 'bg-yellow-400'
    if (score >= 80) return 'bg-orange-400'

    return 'bg-red-400'
  }

  const nodes = ref([{ name: 'api.hive.blog', value: 'https://api.hive.blog', color: getNodeColor(100) }])
  const node = ref(settingsStore.settings?.apiNode)

  getApiNodes()
    .then(result => {
      nodes.value = result
        .filter((node: any) => node.features && node.features.includes('get_transaction'))
        .map((node: any) => ({
          name: node.name,
          value: node.endpoint,
          color: getNodeColor(node.score)
        }))
    })
    .catch(error => {
      console.error('Error loading API node list from Beacon: ', error)
    })

  const setApiNode = (selected: any) => {
    node.value = selected
  }

  // HE API nodes
  const heNodes = ref([{ name: 'api.hive-engine.com', value: 'https://api.hive-engine.com' }])
  const heNode = ref(settingsStore.settings?.heApiNode)

  const setHiveEngineApiNode = (selected: any) => {
    heNode.value = selected
  }

  // Theme
  const darkMode = ref(settingsStore.settings?.darkMode)

  // Languages
  const languages = ref([
    { name: 'English', value: 'en' },
    { name: 'Italian', value: 'it' }
  ])
  const language = ref(settingsStore.settings?.language)

  const setLanguage = (selected: any) => {
    language.value = selected || 'en'
  }

  // Transactions formatting
  const transactionsRendering = ref(settingsStore.settings?.transactionsRendering)

  // JSON Formatting
  const jsonRendering = ref(settingsStore.settings?.jsonRendering)

  const emit = defineEmits(['close'])

  const saveSettings = () => {
    settingsStore.saveSettings({
      apiNode: node.value,
      heApiNode: heNode.value,
      darkMode: darkMode.value,
      language: language.value,
      transactionsRendering: transactionsRendering.value,
      jsonRendering: jsonRendering.value
    })
    emit('close')
  }
</script>
