<template>
  <section class="min-h-full" aria-labelledby="profile-overview-title">
    <div class="rounded-lg bg-white dark:bg-slate-800 ring-1 ring-black dark:ring-slate-700 ring-opacity-5 overflow-hidden shadow">
      <div class="px-3 py-6">
        <div class="mx-5 sm:flex sm:items-center sm:justify-between">
          <div class="sm:flex sm:space-x-5 break-words mr-5">
            <AccountAvatar :account="props.name" size="medium" class="flex-shrink-0" imgClass="mx-auto h-20 w-20"></AccountAvatar>
            <div class="flex flex-col mt-4 text-center align sm:mt-0 sm:pt-1 sm:text-left">
              <p class="mb-1 text-xl font-bold text-gray-900 dark:text-gray-100 sm:text-2xl">@{{ props.name }}</p>
              <p class="text-sm font-medium text-gray-500">{{ userAbout }}</p>
            </div>
          </div>
          <div class="flex sm:flex-col content-stretch sm:whitespace-nowrap gap-3">
            <div class="flex justify-center content-center mt-5 sm:mt-0">
              <a
                :href="`https://peakd.com/@${account.name}`"
                target="_blank"
                class="sm:grow grow-0 text-center px-4 py-2 border shadow-sm sm:text-sm text-xs font-medium rounded-md border-gray-300 dark:border-gray-400 text-gray-700 dark:text-gray-300 bg-white dark:bg-slate-800 hover:bg-gray-50 dark:hover:bg-slate-700"
              >
                {{ $t('account.peakD-view') }}
              </a>
            </div>
            <div class="flex justify-center mt-5 sm:mt-0">
              <router-link
                :to="`/@${props.name}?show=advanced`"
                class="sm:grow grow-0 text-center px-4 py-2 border shadow-sm sm:text-sm text-xs font-medium rounded-md border-gray-300 dark:border-gray-400 text-gray-700 dark:text-gray-300 bg-white dark:bg-slate-800 hover:bg-gray-50 dark:hover:bg-slate-700"
              >
                {{ $t('account.blockchain-data') }}
              </router-link>
            </div>
          </div>
        </div>
      </div>
      <div
        class="border-t border-gray-200 dark:border-slate-700 bg-gray-50 dark:bg-slate-800 grid grid-cols-3 divide-y divide-gray-200 dark:divide-slate-700 sm:divide-y-0 sm:divide-x"
      >
        <div class="flex flex-col justify-center px-1 sm:px-6 py-5 text-xs sm:text-sm font-medium text-center">
          <span
            >HIVE <span class="hidden sm:inline">{{ $t('account.tokens') }}</span
            >: {{ formatCurrency(account.balance, '0.000a') }}</span
          >
          <span class="text-gray-500 block">{{ $t('account.savings') }}: {{ formatCurrency(account.savings_balance, '0.000a') }}</span>
        </div>
        <div class="flex flex-col justify-center px-1 sm:px-6 py-5 text-xs sm:text-sm font-medium text-center">
          <div>
            <span>
              <span class="hidden sm:inline">{{ $t('account.staked') }} HIVE:</span>
              {{ formatCurrency(stakedHive, '0.000a') }} HP
            </span>
          </div>
          <div class="flex sm:flex-row justify-center gap:10">
            <span class="text-gray-500">Usable HP: {{ formatCurrency(usableHP, '0.000a') }}</span>
            <div class="relative flex flex-col items-center group ml-1">
              <QuestionMarkCircleIcon class="h-5 w-5 text-gray-500" />
              <div class="absolute object-fill bottom-0 flex-col items-center hidden mb-6 group-hover:flex">
                <span
                  class="relative text-left min-w-max z-10 px-2 py-2 text-xs leading-none text-white dark:text-slate-800 whitespace-no-wrap bg-slate-700 dark:bg-gray-50 shadow rounded-md"
                  ><div>{{ $t('account.received') }}: {{ formatCurrency(delegatedInHive, '0.000a') }}</div>
                  <div class="py-1">{{ $t('account.delegated') }}: {{ formatCurrency(delegatedOutHive, '0.000a') }}</div>
                  <div>Power Down: {{ formatCurrency(powerdown, '0.000a') }}</div></span
                >
                <div class="w-3 h-3 -mt-2 rotate-45 bg-slate-800 dark:bg-slate-700"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="flex flex-col justify-center px-1 sm:px-6 py-5 text-xs sm:text-sm font-medium text-center">
          <span
            >HBD <span class="hidden sm:inline">{{ $t('account.tokens') }}</span
            >: {{ formatCurrency(account.hbd_balance, '0.000a') }}</span
          >
          <span class="text-gray-500 block">{{ $t('account.savings') }}: {{ formatCurrency(account.savings_hbd_balance, '0.000a') }}</span>
        </div>
      </div>

      <div
        class="border-t border-gray-200 dark:border-slate-700 bg-gray-50 dark:bg-slate-800 grid grid-cols-2 divide-y divide-gray-200 dark:divide-slate-700 sm:divide-y-0 sm:divide-x"
      >
        <div class="flex flex-col justify-center px-1 sm:px-6 py-5 text-xs sm:text-sm font-medium text-center">
          <div>
            <span class="block sm:inline">{{ $t('account.voting-power') }}</span
            ><span class="sm:inline"> ({{ $t('account.reward-pool') }})</span>
          </div>
          <div class="sm:flex sm:flex-row flex-col justify-center">
            <span class="text-gray-500 block"
              >{{ $t('account.up') }}: {{ accountMana ? formatPercentage(accountMana.voting) : '-' }} / {{ $t('account.down') }}:
              {{ accountMana ? formatPercentage(accountMana.downvote) : '-' }}</span
            >
          </div>
        </div>
        <div class="flex flex-col justify-center px-1 sm:px-6 py-5 text-xs sm:text-sm font-medium text-center">
          <div>
            <span>{{ $t('account.rc') }}: {{ formatPercentage(rcMana.ratioRc) }}</span>
          </div>
          <div class="sm:flex sm:flex-row flex-col justify-center">
            <span class="text-gray-500 block">{{ formatCurrency(rcMana.currentRc, '0.000a') }} / {{ formatCurrency(rcMana.maxRc, '0.000a') }}</span>

            <div class="relative flex flex-col items-center group ml-1">
              <QuestionMarkCircleIcon class="h-5 w-5 text-gray-500" />
              <div class="absolute object-fill bottom-0 flex-col items-left hidden mb-6 group-hover:flex">
                <span
                  class="relative text-left min-w-max z-10 px-2 py-2 text-xs leading-none text-white dark:text-slate-800 whitespace-no-wrap bg-slate-700 dark:bg-gray-50 shadow rounded-md"
                  ><div>Available: {{ formatCurrency(rcMana.currentRc, '0,0') }}</div>
                  <div class="pt-1">Total: {{ formatCurrency(rcMana.maxRc, '0,0') }}</div>
                  <div v-if="accountRc.delegated_rc" :class="{ 'pt-1': accountRc.delegated_rc }">
                    {{ $t('account.delegated') }}: {{ formatCurrency(accountRc.delegated_rc, '0.000a') }}
                  </div>
                  <div v-if="accountRc.received_delegated_rc" :class="{ 'pt-1': accountRc.received_delegated_rc }">
                    {{ $t('account.received') }}: {{ formatCurrency(accountRc.received_delegated_rc, '0.000a') }}
                  </div></span
                >
                <div class="w-3 h-3 -mt-2 rotate-45 bg-slate-800 dark:bg-slate-700"></div>
              </div>
            </div>

            <!-- <div v-if="accountRc && (accountRc.delegated_rc || accountRc.received_delegated_rc)" class="relative flex flex-col items-center group ml-1">
              <QuestionMarkCircleIcon class="h-5 w-5 text-gray-500" />
              <div class="absolute object-fill bottom-0 flex-col items-center hidden mb-6 group-hover:flex">
                <span
                  class="relative min-w-max z-10 px-2 py-2 text-xs leading-none text-white dark:text-slate-800 whitespace-no-wrap bg-slate-700 dark:bg-gray-50 shadow rounded-md"
                >
                  <div v-if="accountRc.delegated_rc" :class="{ 'pb-1': accountRc.received_delegated_rc }">
                    {{ $t('account.delegated') }}: {{ formatCurrency(accountRc.delegated_rc, '0.000a') }}
                  </div>
                  <div v-if="accountRc.received_delegated_rc">
                    {{ $t('account.received') }}: {{ formatCurrency(accountRc.received_delegated_rc, '0.000a') }}
                  </div></span
                >
                <div class="w-3 h-3 -mt-2 rotate-45 bg-slate-800 dark:bg-slate-700"></div>
              </div>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script setup lang="ts">
  import { Account } from '@hiveio/dhive'
  import { getResourceCredits } from '~/common/api/hiveApi'
  import { vestToHive, calculateRcMana, calculateAccountMana } from '~/common/helpers/hiveFunctions'
  import { formatPercentage, formatCurrency } from '~/common/helpers/formatter'
  import { useChainPropertiesStore } from '~/stores/chainProperties'
  import { QuestionMarkCircleIcon } from '@heroicons/vue/solid'

  const props = defineProps<{
    name: string
    account: Account
  }>()

  const resourceCredits = await getResourceCredits(props.name)
  const accountRc = resourceCredits.rc_accounts[0]

  const chainPropertiesStore = useChainPropertiesStore()
  const dynamicGlobalProperties = computed(() => chainPropertiesStore.dynamicGlobalProperties)

  const stakedHive = vestToHive(
    dynamicGlobalProperties.value.total_vesting_fund_hive,
    props.account.vesting_shares,
    dynamicGlobalProperties.value.total_vesting_shares
  )

  const delegatedInHive = vestToHive(
    dynamicGlobalProperties.value.total_vesting_fund_hive,
    props.account.received_vesting_shares,
    dynamicGlobalProperties.value.total_vesting_shares
  )

  const delegatedOutHive = vestToHive(
    dynamicGlobalProperties.value.total_vesting_fund_hive,
    props.account.delegated_vesting_shares,
    dynamicGlobalProperties.value.total_vesting_shares
  )

  const powerdown = vestToHive(
    dynamicGlobalProperties.value.total_vesting_fund_hive,
    props.account.vesting_withdraw_rate,
    dynamicGlobalProperties.value.total_vesting_shares
  )

  const usableHP = stakedHive + delegatedInHive - delegatedOutHive - powerdown

  const rcMana = calculateRcMana(accountRc.rc_manabar.last_update_time, accountRc.max_rc, accountRc.rc_manabar.current_mana)
  const accountMana = calculateAccountMana(props.account)

  const userAbout = computed(() => {
    const metadata = JSON.parse(props.account.posting_json_metadata || '{}')
    return metadata.profile?.about
  })
</script>
