<template>
  <Menu as="div" class="relative inline-block text-left">
    <div>
      <MenuButton
        v-if="isAuthenticated"
        class="flex items-center text-slate-300 hover:bg-slate-900/30 hover:text-white px-2 py-1 rounded-md text-sm font-medium"
      >
        <span class="sr-only">{{ accountStore.account.name }}</span>
        <AccountAvatar :account="accountStore.account.name" :static="true" class="h-8 w-8"></AccountAvatar>
      </MenuButton>
      <MenuButton v-else class="flex items-center text-slate-300 hover:bg-slate-900/30 hover:text-white px-3 py-2 rounded-md text-sm font-medium">
        <span class="text-sm hidden">Options</span>
        <MenuIcon class="block h-6 w-6" aria-hidden="true"></MenuIcon>
      </MenuButton>
    </div>

    <transition
      enter-active-class="transition ease-out duration-100"
      enter-from-class="transform opacity-0 scale-95"
      enter-to-class="transform opacity-100 scale-100"
      leave-active-class="transition ease-in duration-75"
      leave-from-class="transform opacity-100 scale-100"
      leave-to-class="transform opacity-0 scale-95"
    >
      <MenuItems
        class="text-xs lg:absolute lg:right-0 relative mt-2 w-max rounded-md shadow-lg bg-slate-900 text-white ring-1 ring-black dark:ring-slate-700 ring-opacity-0 focus:outline-none z-50"
      >
        <template v-if="isAuthenticated">
          <MenuItem>
            <div class="py-1 flex">
              <router-link :to="`/@${accountStore.account.name}`" class="flex grow justify-start px-4 py-2 hover:bg-slate-800">
                <UserIcon class="my-auto h-4 w-4" aria-hidden="true"></UserIcon>
                <div>
                  <p class="block px-4 py-1">{{ $t('settings.my-account') }}</p>
                </div>
              </router-link>
            </div>
          </MenuItem>
          <MenuItem v-if="isNotificationsEnabled">
            <div class="py-1 flex">
              <router-link :to="`/notifications/${accountStore.account.name}`" class="flex grow justify-start px-4 py-2 hover:bg-slate-800">
                <SpeakerphoneIcon class="my-auto h-4 w-4" aria-hidden="true"></SpeakerphoneIcon>
                <div>
                  <p class="block px-4 py-1">{{ $t('settings.notifications') }}</p>
                </div>
              </router-link>
            </div>
          </MenuItem>
          <MenuItem>
            <div class="py-1 flex border-t-[1px] border-slate-700">
              <button @click="toggleSettingsModal(true)" class="flex grow justify-start px-4 py-2 hover:bg-slate-800">
                <CogIcon class="my-auto h-4 w-4" aria-hidden="true"></CogIcon>
                <div>
                  <p class="block px-4 py-1">{{ $t('settings.settings') }}</p>
                </div>
              </button>
            </div>
          </MenuItem>
          <MenuItem>
            <div class="py-1 flex border-t-[1px] border-slate-700">
              <button @click="accountStore.signOut()" class="flex grow justify-start px-4 py-2 hover:bg-slate-800">
                <LogoutIcon class="my-auto h-4 w-4" aria-hidden="true"></LogoutIcon>
                <div>
                  <p class="block px-4 py-1">{{ $t('settings.logout') }}</p>
                </div>
              </button>
            </div>
          </MenuItem>
        </template>
        <template v-else>
          <MenuItem>
            <div class="py-1 flex">
              <button @click="toggleSettingsModal(true)" class="flex grow justify-start px-4 py-2 hover:bg-slate-800">
                <CogIcon class="my-auto h-4 w-4" aria-hidden="true"></CogIcon>
                <div>
                  <p class="block px-4 py-1">{{ $t('settings.settings') }}</p>
                </div>
              </button>
            </div>
          </MenuItem>
          <MenuItem>
            <div class="py-1 flex border-t-[1px] border-slate-700">
              <button @click="toggleLoginModal(true)" class="flex grow justify-start px-4 py-2 hover:bg-slate-800">
                <LoginIcon class="my-auto h-4 w-4" aria-hidden="true"></LoginIcon>
                <div>
                  <p class="block px-4 py-1">{{ $t('settings.login') }}</p>
                </div>
              </button>
            </div>
          </MenuItem>
          <MenuItem>
            <div class="py-1 flex">
              <a href="https://signup.hive.io" target="_blank" rel="noopener" class="flex grow justify-start px-4 py-2 hover:bg-slate-800">
                <UserAddIcon class="my-auto h-4 w-4" aria-hidden="true"></UserAddIcon>
                <div>
                  <p class="block px-4 py-1">{{ $t('settings.register') }}</p>
                </div>
              </a>
            </div>
          </MenuItem>
        </template>
      </MenuItems>
    </transition>
  </Menu>

  <TransitionRoot :as="LoginModal" :show="loginModalOpen" @close="toggleLoginModal(false)"></TransitionRoot>
  <TransitionRoot :as="SettingsModal" :show="settingsModalOpen" @close="toggleSettingsModal(false)"></TransitionRoot>
</template>

<script setup lang="ts">
  import { MenuIcon, CogIcon, LoginIcon, LogoutIcon, UserIcon, UserAddIcon, SpeakerphoneIcon } from '@heroicons/vue/outline'
  import LoginModal from '~/common/components/modals/LoginModal.vue'
  import SettingsModal from '~/common/components/modals/SettingsModal.vue'
  import { config as notificationsConfig } from '~/notifications/config'
  import { useAccountStore } from '~/stores/account'

  const accountStore = useAccountStore()

  const isNotificationsEnabled = notificationsConfig.enabled

  const isAuthenticated = computed(() => accountStore.account.authenticated)

  let loginModalOpen = ref(false)
  const toggleLoginModal = (open = false) => {
    loginModalOpen.value = open
  }

  let settingsModalOpen = ref(false)
  const toggleSettingsModal = (open = false) => {
    settingsModalOpen.value = open
  }
</script>
