<template>
  <div>
    <TransactionRecord
      v-if="trx && timestamp"
      :trx="trx"
      :timestamp="timestamp"
      :summary="true"
      :forceSummary="true"
      class="bg-white dark:bg-slate-800 rounded-lg shadow ring-1 ring-black dark:ring-slate-700 ring-opacity-5 mb-6"
    ></TransactionRecord>

    <div class="bg-white dark:bg-slate-800 rounded-lg shadow ring-1 ring-black dark:ring-slate-700 ring-opacity-5 px-5 py-6 sm:px-6">
      <div class="px-4 py-5 sm:p-0">
        <dl class="sm:divide-y sm:divide-gray-200 dark:sm:divide-gray-700">
          <div class="py-4 sm:py-5 sm:grid sm:grid-cols-4 sm:gap-4 sm:px-6">
            <dt class="text-sm font-medium text-gray-500 dark:text-gray-300">Hash</dt>
            <dd class="mt-1 text-sm text-gray-900 dark:text-gray-100 sm:mt-0 sm:col-span-3 break-words">{{ trx.transaction_id }}</dd>
          </div>
          <div class="py-4 sm:py-5 sm:grid sm:grid-cols-4 sm:gap-4 sm:px-6">
            <dt class="text-sm font-medium text-gray-500 dark:text-gray-300">Block</dt>
            <dd class="mt-1 text-sm text-gray-900 dark:text-gray-100 sm:mt-0 sm:col-span-3">
              <router-link :to="`/b/${trx.block_num}`" class="text-emerald-600 dark:text-emerald-400 font-semibold">{{ trx.block_num }}</router-link>
            </dd>
          </div>
          <div class="py-4 sm:py-5 sm:grid sm:grid-cols-4 sm:gap-4 sm:px-6">
            <dt class="text-sm font-medium text-gray-500 dark:text-gray-300">Timestamp</dt>
            <dd class="mt-1 text-sm text-gray-900 dark:text-gray-100 sm:mt-0 sm:col-span-3">
              {{ formatISOTimestamp(timestamp) }}
              <span class="text-gray-500 dark:text-gray-300 text-xs italic">({{ timestamp }})</span>
            </dd>
          </div>
          <div class="py-4 sm:py-5 sm:grid sm:grid-cols-4 sm:gap-4 sm:px-6">
            <dt class="text-sm font-medium text-gray-500 dark:text-gray-300">Expiration</dt>
            <dd class="mt-1 text-sm text-gray-900 dark:text-gray-100 sm:mt-0 sm:col-span-3">
              <span v-if="timestamp">{{ timeDifference(new Date(timestamp), new Date(trx.expiration)) }}</span>
              <span class="text-gray-500 dark:text-gray-300 text-xs">
                <span v-if="timestamp" class="text-gray-500 dark:text-gray-300"> @ </span>
                {{ formatISOTimestamp(trx.expiration) }}
                <span class="italic">({{ trx.expiration }})</span>
              </span>
            </dd>
          </div>
          <div v-if="account" class="py-3.5 sm:py-4.5 sm:grid sm:grid-cols-4 sm:gap-4 sm:px-6 items-center">
            <dt class="text-sm font-medium text-gray-500 dark:text-gray-300">Account</dt>
            <router-link :to="`/@${account}`" tag="dd" class="mt-1 text-sm text-emerald-600 dark:text-emerald-400 sm:mt-0 sm:col-span-3">
              <AccountAvatar :account="account" imgClass="h-8 w-8"></AccountAvatar>
              <span class="ml-2 font-semibold">{{ account }}</span>
            </router-link>
          </div>
          <div class="py-4 sm:py-5 sm:grid sm:grid-cols-4 sm:gap-4 sm:px-6">
            <dt class="text-sm font-medium text-gray-500 dark:text-gray-300">Signatures</dt>
            <dd v-if="trx.signatures && trx.signatures.length > 1" class="mt-1 text-gray-600 dark:text-gray-200 sm:mt-0 sm:col-span-3">
              <ul role="list" class="border border-gray-200 dark:border-slate-700 rounded-md divide-y divide-gray-200 dark:sm:divide-gray-700">
                <li v-for="(signature, index) in trx.signatures" :key="signature" class="pl-3 pr-4 py-3 flex items-center justify-between text-sm">
                  <div class="w-0 flex-1 flex items-center text-xs">
                    <span class="font-medium self-start">{{ index + 1 }}.</span>
                    <pre class="ml-2 flex-1 w-0 whitespace-pre-wrap break-all">{{ signature }}</pre>
                  </div>
                </li>
              </ul>
            </dd>
            <dd v-else class="mt-1 text-gray-600 dark:text-gray-200 sm:mt-0 sm:col-span-3 text-xs">
              <pre class="whitespace-pre-wrap break-all">{{ trx.signatures[0] }}</pre>
            </dd>
          </div>
          <template v-for="(op, index) in trx.operations" :key="index">
            <div class="py-4 sm:py-5 sm:grid sm:grid-cols-4 sm:gap-4 sm:px-6">
              <dt class="text-sm font-medium text-gray-500 dark:text-gray-300">
                Operation
                <span v-if="trx.operations.length > 1" class="inline-flex items-center px-2.5 py-0.5 rounded-md text-xs font-medium bg-gray-100 text-gray-800"
                  >#{{ index + 1 }}</span
                >
              </dt>
              <dd class="mt-1 text-sm text-gray-900 dark:text-gray-100 sm:mt-0 sm:col-span-3">
                <pre class="font-semibold">{{ op[0] }}</pre>
              </dd>
            </div>
            <div class="py-4 sm:py-5 sm:grid sm:grid-cols-4 sm:gap-4 sm:px-6">
              <dt class="text-sm font-medium text-gray-500 dark:text-gray-300">
                Raw data
                <span v-if="trx.operations.length > 1" class="inline-flex items-center px-2.5 py-0.5 rounded-md text-xs font-medium bg-gray-100 text-gray-800"
                  >#{{ index + 1 }}</span
                >
                <div class="mt-5 text-xs">
                  <div class="flex">
                    <div class="text-gray-400">Small font:</div>
                    <SwitchGroup as="div" class="ml-2 flex items-center justify-between gap-4">
                      <Switch
                        v-model="settingsStore.settings.jsonFontSize"
                        :class="[
                          settingsStore.settings.jsonFontSize ? 'bg-emerald-600 dark:bg-emerald-400' : 'bg-gray-200 dark:bg-slate-600/50',
                          'relative inline-flex flex-shrink-0 h-4 w-8 border-2 border-transparent rounded-full cursor-pointer transition-colors ease-in-out duration-200'
                        ]"
                      >
                        <span
                          aria-hidden="true"
                          :class="[
                            settingsStore.settings.jsonFontSize ? 'translate-x-4' : 'translate-x-0',
                            'pointer-events-none relative inline-block h-3 w-3 rounded-full bg-white dark:bg-slate-800 shadow transform ring-0 transition ease-in-out duration-200'
                          ]"
                        />
                      </Switch>
                    </SwitchGroup>
                  </div>
                  <div v-if="op[0] === 'custom_json'" class="flex mt-3">
                    <div class="text-gray-400">Format JSON:</div>
                    <SwitchGroup as="div" class="ml-2 flex items-center justify-between gap-4">
                      <Switch
                        v-model="settingsStore.settings.jsonRendering"
                        :class="[
                          settingsStore.settings.jsonRendering ? 'bg-emerald-600 dark:bg-emerald-400' : 'bg-gray-200 dark:bg-slate-600/50',
                          'relative inline-flex flex-shrink-0 h-4 w-8 border-2 border-transparent rounded-full cursor-pointer transition-colors ease-in-out duration-200'
                        ]"
                      >
                        <span
                          aria-hidden="true"
                          :class="[
                            settingsStore.settings.jsonRendering ? 'translate-x-4' : 'translate-x-0',
                            'pointer-events-none relative inline-block h-3 w-3 rounded-full bg-white dark:bg-slate-800 shadow transform ring-0 transition ease-in-out duration-200'
                          ]"
                        />
                      </Switch>
                    </SwitchGroup>
                  </div>
                </div>
              </dt>
              <dd class="mt-1 text-gray-900 dark:text-gray-100 sm:mt-0 sm:col-span-3">
                <AutoLayoutOperation :op="op"></AutoLayoutOperation>
              </dd>
            </div>
          </template>
        </dl>
      </div>
    </div>

    <template v-if="validatedOps && validatedOps.length > 0">
      <h4 class="text-3xl font-bold text-gray-900 dark:text-gray-100 mt-6">2nd Layer Apps</h4>

      <div
        v-for="(validatedOp, index) in validatedOps"
        :key="index"
        class="bg-white dark:bg-slate-800 ring-1 ring-black dark:ring-slate-700 ring-opacity-5 rounded-lg shadow px-5 py-6 sm:px-6 mt-6"
      >
        <div class="px-4 py-5 sm:p-0">
          <dl class="sm:divide-y sm:divide-gray-200 dark:sm:divide-gray-700">
            <div class="py-4 sm:py-5 sm:grid sm:grid-cols-4 sm:gap-4 sm:px-6 items-center">
              <dt class="text-sm font-medium text-gray-500 dark:text-gray-300">Application</dt>
              <dd class="mt-1 text-sm text-gray-900 dark:text-gray-100 sm:mt-0 sm:col-span-3">
                <img :src="validatedOp.icon" class="inline-block h-5 w-5 mr-1" aria-hidden="true" /> {{ validatedOp.app }}
              </dd>
            </div>
            <div class="py-4 sm:py-5 sm:grid sm:grid-cols-4 sm:gap-4 sm:px-6 items-center">
              <dt class="text-sm font-medium text-gray-500 dark:text-gray-300">Valid</dt>
              <dd class="mt-1 text-sm text-gray-900 dark:text-gray-100 sm:mt-0 sm:col-span-3">
                <span v-if="validatedOp.valid" class="inline-flex items-center px-3 py-0.5 rounded-full text-sm font-medium bg-green-100 text-green-800">
                  True
                </span>
                <span v-else class="inline-flex items-center px-3 py-0.5 rounded-full text-sm font-medium bg-red-100 text-red-800"> False </span>
              </dd>
            </div>
            <div v-if="validatedOp.error" class="py-4 sm:py-5 sm:grid sm:grid-cols-4 sm:gap-4 sm:px-6">
              <dt class="text-sm font-medium text-gray-500 dark:text-gray-300">Error</dt>
              <dd class="mt-1 text-sm text-red-500 italic sm:mt-0 sm:col-span-3">
                {{ validatedOp.error }}
              </dd>
            </div>
            <HiveEngineTrxData
              v-else-if="validatedOp.app === 'Hive-Engine'"
              :jsonFontSize="settingsStore.settings.jsonFontSize"
              :data="validatedOp.raw"
            ></HiveEngineTrxData>
            <SplinterlandsTrxData
              v-else-if="validatedOp.app === 'Splinterlands'"
              :jsonFontSize="settingsStore.settings.jsonFontSize"
              :data="validatedOp.raw.trx_info"
            ></SplinterlandsTrxData>
          </dl>
        </div>
      </div>
    </template>
  </div>
</template>

<script setup lang="ts">
  import { Ref } from 'vue'
  import { getTransaction, getBlockHeader } from '~/common/api/hiveApi'
  import { extractOperationAccount } from '~/common/helpers/hiveFunctions'
  import appsConfig from '~/explorer/helpers/apps'
  import { formatISOTimestamp, timeDifference } from '~/common/helpers/formatter'
  import { useSettingsStore } from '~/stores/settings'

  const settingsStore = useSettingsStore()

  const props = defineProps<{
    txId: string
  }>()

  console.log('Loading transaction: ', props.txId)
  const trx = await getTransaction(props.txId)
  console.log('Transaction: ', trx)

  const timestamp = ref()
  getBlockHeader(trx.block_num).then(result => {
    timestamp.value = result.timestamp
  })

  const account = extractOperationAccount(trx.operations && trx.operations[0] && trx.operations[0][1])

  const validatedOps: Ref<[any][]> = ref([])
  trx.operations.forEach(async (op, index) => {
    const app = appsConfig.find(app => app.match(op))

    if (!app || !app.supported) {
      return
    }

    try {
      const appResults = await app.load(props.txId, op, index, trx.operations.length)
      if (Array.isArray(appResults)) {
        for (let result of appResults) {
          const { success, error } = await app.validate(result)
          validatedOps.value.push({ app: app.name, icon: app.icon, valid: success, error: error, raw: result })
        }
      } else {
        const { success, error } = await app.validate(appResults)
        validatedOps.value.push({ app: app.name, icon: app.icon, valid: success, error: error, raw: appResults })
      }
    } catch (trxLoadError) {
      validatedOps.value.push({ app: app.name, icon: app.icon, valid: false, error: 'Error loading 2nd layer transaction data' })
    }
  })

  watch([() => settingsStore.settings.jsonRendering, () => settingsStore.settings.jsonFontSize], () =>
    settingsStore.saveSettings({
      apiNode: settingsStore.settings?.apiNode,
      heApiNode: settingsStore.settings?.heApiNode,
      darkMode: settingsStore.settings?.darkMode,
      language: settingsStore.settings?.language,
      jsonRendering: settingsStore.settings?.jsonRendering,
      jsonFontSize: settingsStore.settings?.jsonFontSize
    })
  )
</script>
