<template>
  <div>
    <Teleport to="#page-header-right-target">
      <Filters @change="handleFilterChange" @clearFilters="clearFilters" :filters="filters"></Filters>
      <span class="mx-1"></span>
      <TabSwitch :tabs="tabs"></TabSwitch>
    </Teleport>

    <div class="flex flex-col shadow ring-1 ring-black dark:ring-slate-700 ring-opacity-5">
      <div class="overflow-x-auto">
        <div class="inline-block min-w-full align-middle">
          <div class="overflow-hidden rounded-lg">
            <table class="min-w-full divide-y divide-gray-300 dark:divide-slate-600">
              <thead class="bg-gray-50 dark:bg-slate-800">
                <tr>
                  <th
                    scope="col"
                    @click="setSortDir('rank')"
                    class="py-3.5 pl-4 pr-3 text-center text-sm font-semibold text-gray-900 dark:text-gray-100 hover:cursor-pointer"
                    :class="[currentSort === 'rank' ? 'bg-gray-200 dark:bg-slate-600/50 ' : 'hover:bg-gray-100 dark:hover:bg-slate-700/50']"
                  >
                    <div class="flex items-center justify-center">
                      {{ $t('witnesses.rank') }}
                      <component
                        v-if="currentSort === 'rank'"
                        :is="currentSortDir === 'asc' ? ArrowSmUpIcon : ArrowSmDownIcon"
                        class="h-4 w-4 ml-1"
                      ></component>
                    </div>
                  </th>
                  <th
                    scope="col"
                    @click="setSortDir('owner')"
                    class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 dark:text-gray-100 hover:cursor-pointer"
                    :class="[currentSort === 'owner' ? 'bg-gray-200 dark:bg-slate-600/50' : 'hover:bg-gray-100 dark:hover:bg-slate-700/50']"
                  >
                    <div class="flex items-center justify-start">
                      {{ $t('witnesses.witness') }}
                      <component
                        v-if="currentSort === 'owner'"
                        :is="currentSortDir === 'asc' ? ArrowSmUpIcon : ArrowSmDownIcon"
                        class="h-4 w-4 ml-1"
                      ></component>
                    </div>
                  </th>
                  <th
                    scope="col"
                    @click="setSortDir('votes')"
                    class="py-3.5 pl-4 pr-3 text-center text-sm font-semibold text-gray-900 dark:text-gray-100 hover:cursor-pointer"
                    :class="[currentSort === 'votes' ? 'bg-gray-200 dark:bg-slate-600/50' : 'hover:bg-gray-100 dark:hover:bg-slate-700/50']"
                  >
                    <div class="flex items-center justify-center">
                      <div class="flex flex-col">
                        {{ $t('witnesses.votes') }}<small class="block text-xs font-medium text-gray-900 dark:text-gray-100">(MHP)</small>
                      </div>
                      <component
                        v-if="currentSort === 'votes'"
                        :is="currentSortDir === 'asc' ? ArrowSmUpIcon : ArrowSmDownIcon"
                        class="h-4 w-4 ml-1"
                      ></component>
                    </div>
                  </th>
                  <th scope="col" class="py-3.5 pl-4 pr-3 text-center text-sm font-semibold text-gray-900 dark:text-gray-100">{{ $t('witnesses.version') }}</th>
                  <th scope="col" class="py-3.5 pl-4 pr-3 text-center text-sm font-semibold text-gray-900 dark:text-gray-100">{{ $t('witnesses.status') }}</th>
                  <th
                    scope="col"
                    @click="setSortDir('last_confirmed_block_num')"
                    class="py-3.5 pl-4 pr-3 text-center text-sm font-semibold text-gray-900 dark:text-gray-100 hover:cursor-pointer"
                    :class="[currentSort === 'last_confirmed_block_num' ? 'bg-gray-200 dark:bg-slate-600/50' : 'hover:bg-gray-100 dark:hover:bg-slate-700/50']"
                  >
                    <div class="flex items-center justify-center">
                      {{ $t('witnesses.last-block') }}
                      <component
                        v-if="currentSort === 'last_confirmed_block_num'"
                        :is="currentSortDir === 'asc' ? ArrowSmUpIcon : ArrowSmDownIcon"
                        class="h-4 w-4 ml-1"
                      ></component>
                    </div>
                  </th>
                  <th
                    scope="col"
                    @click="setSortDir('total_missed')"
                    class="py-3.5 pl-4 pr-3 text-center text-sm font-semibold text-gray-900 dark:text-gray-100 hover:cursor-pointer"
                    :class="[currentSort === 'total_missed' ? 'bg-gray-200 dark:bg-slate-600/50' : 'hover:bg-gray-100 dark:hover:bg-slate-700/50']"
                  >
                    <div class="flex items-center justify-center">
                      {{ $t('witnesses.miss') }}
                      <component
                        v-if="currentSort === 'total_missed'"
                        :is="currentSortDir === 'asc' ? ArrowSmUpIcon : ArrowSmDownIcon"
                        class="h-4 w-4 ml-1"
                      ></component>
                    </div>
                  </th>
                  <th
                    scope="col"
                    @click="setSortDir('account_creation_fee')"
                    class="py-3.5 pl-4 pr-3 text-center text-sm font-semibold text-gray-900 dark:text-gray-100 hover:cursor-pointer"
                    :class="[currentSort === 'account_creation_fee' ? 'bg-gray-200 dark:bg-slate-600/50' : 'hover:bg-gray-100 dark:hover:bg-slate-700/50']"
                  >
                    <div class="flex items-center justify-center">
                      {{ $t('witnesses.reg-fee') }}
                      <component
                        v-if="currentSort === 'account_creation_fee'"
                        :is="currentSortDir === 'asc' ? ArrowSmUpIcon : ArrowSmDownIcon"
                        class="h-4 w-4 ml-1"
                      ></component>
                    </div>
                  </th>
                  <th
                    scope="col"
                    @click="setSortDir('hbd_exchange_rate')"
                    class="py-3.5 pl-4 pr-3 text-center text-sm font-semibold text-gray-900 dark:text-gray-100 hover:cursor-pointer"
                    :class="[currentSort === 'hbd_exchange_rate' ? 'bg-gray-200 dark:bg-slate-600/50' : 'hover:bg-gray-100 dark:hover:bg-slate-700/50']"
                  >
                    <div class="flex items-center justify-center">
                      <div class="flex flex-col">
                        {{ $t('witnesses.price-feed') }}<small class="block text-xs font-medium text-gray-900 dark:text-gray-100">(HIVE)</small>
                      </div>
                      <component
                        v-if="currentSort === 'hbd_exchange_rate'"
                        :is="currentSortDir === 'asc' ? ArrowSmUpIcon : ArrowSmDownIcon"
                        class="h-4 w-4 ml-1"
                      ></component>
                    </div>
                  </th>
                  <th
                    scope="col"
                    @click="setSortDir('hbd_interest_rate')"
                    class="py-3.5 pl-4 pr-3 text-center text-sm font-semibold text-gray-900 dark:text-gray-100 hover:cursor-pointer"
                    :class="[currentSort === 'hbd_interest_rate' ? 'bg-gray-200 dark:bg-slate-600/50' : 'hover:bg-gray-100 dark:hover:bg-slate-700/50']"
                  >
                    <div class="flex items-center justify-center">
                      <div class="flex flex-col">APR<small class="block text-xs font-medium text-gray-900 dark:text-gray-100">(HBD savings)</small></div>
                      <component
                        v-if="currentSort === 'hbd_interest_rate'"
                        :is="currentSortDir === 'asc' ? ArrowSmUpIcon : ArrowSmDownIcon"
                        class="h-4 w-4 ml-1"
                      ></component>
                    </div>
                  </th>
                </tr>
              </thead>
              <tbody v-for="witness in sortedWitnesses" :key="witness.owner" class="divide-y divide-gray-200 dark:divide-slate-600 bg-white dark:bg-slate-700">
                <tr>
                  <td class="whitespace-nowrap py-3.5 pl-4 pr-3 text-center text-sm text-gray-500 dark:text-gray-300">
                    {{ witness.rank }}
                  </td>
                  <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm sm:pl-6">
                    <div class="flex items-center justify-start">
                      <AccountAvatar :account="witness.owner" class="h-8 w-8 flex-shrink-0"></AccountAvatar>
                      <div class="flex items-center ml-4">
                        <router-link :to="`/@${witness.owner}`" class="font-medium text-gray-900 dark:text-gray-100">{{ witness.owner }}</router-link>
                        <a v-if="witness.url" :href="witness.url" target="_blank" class="text-gray-500 dark:text-gray-300">
                          <ExternalLinkIcon class="h-4 w-4 ml-2"></ExternalLinkIcon>
                        </a>
                      </div>
                    </div>
                  </td>

                  <td class="whitespace-nowrap py-3.5 pl-4 pr-3 text-center text-sm text-gray-500 dark:text-gray-300">{{ vestToHive(witness).formatted }}</td>
                  <td class="whitespace-nowrap py-3.5 pl-4 pr-3 text-center text-sm text-gray-500 dark:text-gray-300">
                    <span
                      class="inline-flex rounded-full px-2 leading-5 text-sm"
                      :class="{ 'bg-red-100 dark:bg-red-700 text-red-700 dark:text-red-100': !isLatestVersion(witness) }"
                    >
                      {{ witness.running_version }}</span
                    >
                  </td>
                  <td class="whitespace-nowrap py-3.5 pl-4 pr-3 text-center text-sm text-gray-500 dark:text-gray-300">
                    <span
                      v-if="isActive(witness)"
                      class="inline-flex rounded-full bg-emerald-100 dark:bg-emerald-700 px-2 text-xs font-semibold leading-5 text-emerald-700 dark:text-emerald-100"
                      >Active</span
                    >
                    <span v-else class="inline-flex rounded-full bg-red-100 dark:bg-red-700 px-2 text-xs font-semibold leading-5 text-red-700 dark:text-red-100"
                      >Disabled</span
                    >
                  </td>
                  <td class="whitespace-nowrap py-3.5 pl-4 pr-3 text-center text-sm text-gray-500 dark:text-gray-300">
                    <div>{{ witness.last_confirmed_block_num }}</div>
                    <div class="text-xs">{{ fromLastBlock(witness) }}</div>
                  </td>
                  <td class="whitespace-nowrap py-3.5 pl-4 pr-3 text-center text-sm text-gray-500 dark:text-gray-300">{{ witness.total_missed }}</td>
                  <td class="whitespace-nowrap py-3.5 pl-4 pr-3 text-center text-sm text-gray-500 dark:text-gray-300">
                    {{ witness.props.account_creation_fee }}
                  </td>
                  <td class="whitespace-nowrap py-3.5 pl-4 pr-3 text-center text-sm text-gray-500 dark:text-gray-300">
                    {{ witness.hbd_exchange_rate.base }}
                    <div class="text-xs">{{ fromLastPriceUpd(witness) }}</div>
                  </td>
                  <td class="whitespace-nowrap py-3.5 pl-4 pr-3 text-center text-sm text-gray-500 dark:text-gray-300">
                    {{ witness.props.hbd_interest_rate / 100 }}%
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <Pagination class="mt-4" :current="currentPage" :last="lastPage" @page-changed="onPageChange"></Pagination>
  </div>
</template>

<script setup lang="ts">
  import { Ref } from 'vue'
  import { ArrowSmUpIcon, ArrowSmDownIcon, ExternalLinkIcon } from '@heroicons/vue/outline'
  import { differenceInHours, parseJSON } from 'date-fns'
  import { getWitnesses } from '~/common/api/hiveApi'
  import { formatCurrency, timeAgo, timeAgoWithSeconds } from '~/common/helpers/formatter'
  import { parseAmount } from '~/common/helpers/hiveFunctions'
  import { useChainPropertiesStore } from '~/stores/chainProperties'

  const route = useRoute()

  const tabs = computed(() => [
    { name: 'Hive', to: `/witnesses`, current: route.path === `/witnesses`, enabled: true },
    { name: 'Hive Engine', to: `/witnesses/hive-engine`, current: route.path === `/witnesses/hive-engine`, enabled: true }
  ])

  const chainPropertiesStore = useChainPropertiesStore()

  const dynamicGlobalProperties = computed(() => chainPropertiesStore.dynamicGlobalProperties)
  const hardForkVersion = computed(() => chainPropertiesStore.hardforkVersion)
  console.log(hardForkVersion.value)

  const totalVestingShares = computed(() => parseAmount(dynamicGlobalProperties.value && dynamicGlobalProperties.value.total_vesting_shares))
  const totalVestingFundHive = computed(() => parseAmount(dynamicGlobalProperties.value && dynamicGlobalProperties.value.total_vesting_fund_hive))

  const isLatestVersion = (witness: any) => !hardForkVersion.value || witness.running_version === hardForkVersion.value
  const isActive = (witness: any) => witness.signing_key !== 'STM1111111111111111111111111111111114T1Anm'

  const vestToHive = (witness: any) => {
    const hp = totalVestingFundHive.value * (parseFloat(witness.votes) / totalVestingShares.value)
    return {
      amount: hp,
      formatted: formatCurrency(hp / 1000000, '0.0a')
    }
  }

  const fromLastBlock = (witness: any) => {
    if (!dynamicGlobalProperties.value) return ''

    const blocksAgo = Math.max(dynamicGlobalProperties.value.head_block_number - witness.last_confirmed_block_num, 0)
    const elapsedMillis = blocksAgo * 3 * 1000
    const lastBlockDate = new Date(Date.now() - elapsedMillis)
    if (elapsedMillis === 0) {
      return 'now'
    } else if (elapsedMillis <= 90000) {
      return timeAgo(lastBlockDate, new Date(), 'second')
    } else {
      return timeAgoWithSeconds(lastBlockDate, new Date())
    }
  }

  const fromLastBlockRange = (witness: any) => {
    if (!dynamicGlobalProperties.value) return ''

    const blocksAgo = Math.max(dynamicGlobalProperties.value.head_block_number - witness.last_confirmed_block_num, 0)
    const elapsedSeconds = blocksAgo * 3
    return elapsedSeconds
  }

  const fromLastPriceUpd = (witness: any) => timeAgoWithSeconds(parseJSON(witness.last_hbd_exchange_update), new Date())

  // pagination
  const pageSize = 250
  const currentPage = ref(1)
  const lastPage = ref(false)

  const onPageChange = async (page: number) => {
    currentPage.value = page

    // if we already loaded enough witnesses -> skip
    if (witnesses.value.length >= page * pageSize) {
      return
    }
    // if no more data -> skip
    if (lastPage.value) {
      return
    }

    const last = witnesses.value.length > 0 ? witnesses.value[witnesses.value.length - 1].owner : ''
    const fetched = (await getWitnesses(last, pageSize + (last ? 1 : 0)))
      // remove first record after first load (duplicate)
      .filter((witness: any, index: number) => !last || index > 0)
      // add rank
      .map((witness: any, index: number) => ({ ...witness, rank: witnesses.value.length + index + 1 }))
    witnesses.value = witnesses.value.concat(fetched)
    console.log('Witnesses: ', witnesses.value)

    if (fetched.length < pageSize) {
      lastPage.value = true
    }
  }

  const witnessesPage = computed(() => {
    return witnesses.value.length > 0 ? witnesses.value.slice((currentPage.value - 1) * pageSize, currentPage.value * pageSize) : []
  })

  // fetch first page
  const witnesses: Ref<Array<any>> = ref([])
  await onPageChange(1)

  // filtering
  const filters = ref({
    account: {
      label: 'Witness',
      placeholder: '@account',
      value: ''
    },
    status: {
      label: 'Status',
      options: {
        active: { label: 'Active', value: false },
        disabled: { label: 'Disabled', value: false }
      }
    },
    blocks: {
      label: 'Blocks',
      options: {
        lastTwoMinBlock: { label: 'Produced a block in the past two minutes', value: false }
      }
    },
    price: {
      label: 'Price Feed',
      options: {
        updatePriceFeed: { label: 'Update price feed today', value: false }
      }
    }
  })

  const handleFilterChange = (filterName: string, filterValue: boolean | number | string) => {
    if (filterName.includes('.')) {
      const group = filterName.split('.')[0]
      const name = filterName.split('.')[1]

      const filter = (filters.value as any)[group]
      if (filter) {
        const option = filter.options && filter.options[name]
        if (option) {
          option.value = filterValue
        }
      }
    } else {
      const filter = (filters.value as any)[filterName]
      if (filter) {
        filter.value = filterValue
      }
    }
  }

  const clearFilters = (defaultFilters: string) => (filters.value = JSON.parse(defaultFilters))

  const filteredWitnesses = computed(() => {
    return witnessesPage.value.filter(witness => {
      // account name
      if (filters.value.account.value && !witness.owner.includes(filters.value.account.value)) {
        return false
      }

      // check which status filters are enabled
      const statusFilters = {
        active: filters.value.status.options.active.value,
        disabled: filters.value.status.options.disabled.value
      }
      // check that record status is valid for the above filters
      if (Object.values(statusFilters).some(v => v)) {
        const witnessStatus = witness.signing_key === 'STM1111111111111111111111111111111114T1Anm' ? 'disabled' : 'active'
        if (!statusFilters[witnessStatus]) {
          return false
        }
      }
      // others
      if (filters.value.blocks.options.lastTwoMinBlock.value && fromLastBlockRange(witness) > 120) {
        return false
      }
      if (filters.value.price.options.updatePriceFeed.value && differenceInHours(new Date(), new Date(witness.last_hbd_exchange_update)) > 24) {
        return false
      }
      return true
    })
  })

  // sorting
  const currentSort = ref('votes')
  const currentSortDir = ref('desc')

  function setSortDir(s: string) {
    //if s == current sort, reverse
    if (s === currentSort.value) {
      return (currentSortDir.value = currentSortDir.value === 'asc' ? 'desc' : 'asc')
    } else {
      currentSort.value = s
      return (currentSortDir.value = 'desc')
    }
  }

  // sorting
  const sortedWitnesses = computed(() => {
    return [...filteredWitnesses.value].sort((a, b) => {
      let modifier = 1
      if (currentSortDir.value === 'desc') modifier = -1
      if (currentSort.value === 'owner') {
        return a[currentSort.value].localeCompare(b[currentSort.value]) * modifier
      }
      if (currentSort.value === 'account_creation_fee' || currentSort.value === 'hbd_interest_rate') {
        if (parseFloat(a['props'][currentSort.value]) < parseFloat(b['props'][currentSort.value])) return -1 * modifier
        if (parseFloat(a['props'][currentSort.value]) > parseFloat(b['props'][currentSort.value])) return 1 * modifier
        return 0
      } else if (currentSort.value === 'hbd_exchange_rate') {
        if (parseFloat(a[currentSort.value]['base']) < parseFloat(b[currentSort.value]['base'])) return -1 * modifier
        if (parseFloat(a[currentSort.value]['base']) > parseFloat(b[currentSort.value]['base'])) return 1 * modifier
        return 0
      } else {
        if (parseFloat(a[currentSort.value]) < parseFloat(b[currentSort.value])) return -1 * modifier
        if (parseFloat(a[currentSort.value]) > parseFloat(b[currentSort.value])) return 1 * modifier
        return 0
      }
    })
  })

  onMounted(() => {
    chainPropertiesStore.refreshHardforkVersion()
  })
</script>
